@model SiteVendas.Models.tb_produto


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">Cadastrar Produto</h4>

                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>

            </div>
            <div class="modal-body">
             
                Testando isso aqui bora ve se vai dar certo!!
                
                
                
            </div>
            <div class="modal-footer">

                @*        <form method="post" enctype="multipart/form-data" onsubmit="removerSimboloR$()">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                <input type="submit" value="Cadastrar" class="btn btn-primary" />

                </form>*@

            </div>
        </div>
    </div>
</div>







