@model IEnumerable<SiteVendas.Models.tb_produto>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model SiteVendas.Models.tb_produto*@

<h2>Detalhes do Modelo</h2>

@foreach (var item in @Model)
{


<p><strong>Campo 1:</strong> @item.pd_descricao</p>
    <p><strong>Campo 2:</strong> @item.pd_nome</p>
    <img src="data:image/png;base64,@Convert.ToBase64String(@item.pd_imagem)" />
}


