


<div class="justify-content-center d-flex" style="position: absolute; top: 50px; left: 50px; z-index: 9999;">





    @*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    *@


    <h4>Israel</h4>
    <br />
    <h4>Israel</h4>
</div>