@model IEnumerable<SiteVendas.Models.tb_produto>


<h4>Produtos</h4>



<section class="section section-lg bg-default">
    <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Selecione seu Pedido</span></h3>
        <div class="row row-lg row-30">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft" data-wow-delay=".15s">
                    <div class="product-figure">
                        <img src="images/product-1-161x162.png" alt="" width="161" height="162" />
                    </div>
                    <div class="product-rating">
                        <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                    </div>
                    <h6 class="product-title">Margherita Pizza</h6>
                    <div class="product-price-wrap">
                        <div class="product-price">$24.00</div>
                    </div>
                    <div class="product-button">
                        <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                        <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft" data-wow-delay=".1s">
                    <div class="product-figure">
                        <img src="images/product-2-161x162.png" alt="" width="161" height="162" />
                    </div>
                    <div class="product-rating">
                        <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                    </div>
                    <h6 class="product-title">Mushroom Pizza</h6>
                    <div class="product-price-wrap">
                        <div class="product-price">$24.00</div>
                    </div>
                    <div class="product-button">
                        <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                        <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                    </div><span class="product-badge product-badge-new">New</span>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft" data-wow-delay=".05s">
                    <div class="product-figure">
                        <img src="images/product-3-161x162.png" alt="" width="161" height="162" />
                    </div>
                    <div class="product-rating">
                        <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                    </div>
                    <h6 class="product-title">Hawaiian Pizza</h6>
                    <div class="product-price-wrap">
                        <div class="product-price">$24.00</div>
                    </div>
                    <div class="product-button">
                        <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                        <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <!-- Product-->
                <article class="product wow fadeInLeft">
                    <div class="product-figure">
                        <img src="images/product-4-161x162.png" alt="" width="161" height="162" />
                    </div>
                    <div class="product-rating">
                        <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                    </div>
                    <h6 class="product-title">Pesto Pizza</h6>
                    <div class="product-price-wrap">
                        <div class="product-price product-price-old">$40.00</div>
                        <div class="product-price">$24.00</div>
                    </div>
                    <div class="product-button">
                        <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                        <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                    </div><span class="product-badge product-badge-sale">Sale</span>
                </article>
            </div>
        </div>
    </div>
</section>