@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SiteVendas.Models.ViewModel.CadastroClienteViewModel


@{ 

    List<tb_cadastro_cliente> listaVerificacao = new List<tb_cadastro_cliente>();
    listaVerificacao = ViewData["Verificacao"] as List<tb_cadastro_cliente>;
    
    }

@*Exibicao carregamento do Triangulo*@
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>

<h1>Cadastrar Cliente</h1>

<div class="col-2 justify-content-center d-flex ">
    <div class="row">
        <button class="btn btn-Secundario" onclick="VoltarAoInicio()">Voltar ao Inicio</button>
    </div>
</div>

<br />

@if(TempData["mensagem"] != null){

<div class="alert alert-success" role="alert">

@TempData["mensagem"]
</div>

}


<h4>DADOS:</h4>

<form asp-controller="Cliente" asp-action="Inserir" method="post">

    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

    <div class="card">

        <div class="card-body">

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input asp-for="cliente.cc_nome" class="form-control" minlength="10" maxlength="200" />
                        <span asp-validation-for="cliente.cc_nome" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">CPF</label>
                        <input asp-for="cliente.cc_cpf" class="form-control" minlength="14" id="CPF"/>
                        @* <input asp-for="cliente.cc_cpf" class="form-control" id="cleave-cpf" minlength="14" id="CPF"/> *@
                        <span asp-validation-for="cliente.cc_cpf" class="text-danger"></span>
                        <span id="cleave-verificacaoCPF" style="display:none;color:red">CPF já cadastrado.</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">RG</label>
                        <input asp-for="cliente.cc_rg" class="form-control" minlength="12" id="RG" />
                        @* <input asp-for="cliente.cc_rg" class="form-control" id="cleave-rg" minlength="12" id="RG" /> *@
                        <span asp-validation-for="cliente.cc_rg" class="text-danger"></span>
                        <span id="cleave-verificacaoRG" style="display:none;color:red">RG já cadastrado.</span>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Data Nascimento</label>
                        <input asp-for="cliente.cc_data_nascimento" class="form-control" id="cleave-date" minlength="10" type="text" />
                        <span asp-validation-for="cliente.cc_data_nascimento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Telefone</label>
                        <input asp-for="cliente.cc_telefone" class="form-control" id="cleave-telefone" minlength="15" />
                        <span asp-validation-for="cliente.cc_telefone" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label">Celular</label>
                        <input asp-for="cliente.cc_celular" class="form-control" id="cleave-celular" minlength="15" />
                        <span asp-validation-for="cliente.cc_celular" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    <h4>ENDEREÇO:</h4>

    <div class="card">

        <div class="card-body">

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Tipo</label>
                        <select asp-for="endereco.ed_tipo" class="form-control" asp-items="ViewBag.ed_tipo">

                            <option selected value="">Escolha uma Opção...</option>
                            <option>Principal</option>
                            <option>Trabalho</option>

                        </select>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">

                        <label class="control-label">CEP</label>
                        <input asp-for="endereco.ed_cep" class="form-control" minlength="9" id="cleave-cep1" />
                        <label class="text-danger d-none" id="cleave-cep2">CEP Inválido</label>
                        <span asp-validation-for="endereco.ed_cep" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input asp-for="endereco.ed_estado" class="form-control" minlength="2" id="cleave-estado" />
                        <span asp-validation-for="endereco.ed_estado" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Cidade</label>
                        <input asp-for="endereco.ed_cidade" class="form-control" minlength="5" maxlength="100" id="cleave-cidade" />
                        <span asp-validation-for="endereco.ed_cidade" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Número</label>
                        <input asp-for="endereco.ed_numero" class="form-control" minlength="1" maxlength="10" />
                        <span asp-validation-for="endereco.ed_numero" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Bairro</label>
                        <input asp-for="endereco.ed_bairro" class="form-control" minlength="5" maxlength="100" id="cleave-bairro" />
                        <span asp-validation-for="endereco.ed_bairro" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Logradouro</label>
                        <input asp-for="endereco.ed_logradouro" class="form-control" minlength="5" maxlength="100" id="cleave-logradouro" />
                        <span asp-validation-for="endereco.ed_logradouro" class="text-danger"></span>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <input asp-for="endereco.ed_complemento" class="form-control" minlength="0" maxlength="200" id="cleave-comlemento" />
                        <span asp-validation-for="endereco.ed_complemento" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br />

    <h4>ACESSO:</h4>

    <div class="card">

        <div class="card-body row">

            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input asp-for="cliente.cc_email" class="form-control" minlength="10" maxlength="100" id="Email"/>
                    <span asp-validation-for="cliente.cc_email" class="text-danger"></span>
                     <span id="cleave-verificacaoEmail" style="display:none;color:red">Este e-mail já está cadastrado.</span>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input asp-for="cliente.cc_senha" class="form-control" minlength="5" maxlength="20" id="cleave-senha" type="password" />
                    <span asp-validation-for="cliente.cc_senha" class="text-danger"></span>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Confirmar Senha</label>
                    <input asp-for="confirmarSenha" class="form-control" minlength="5" maxlength="20" id="cleave-confirmarSenha" type="password" />
                    <span id="cleave-confirmarSenha1" style="display:none;color:red">Senhas divergentes.</span>


                </div>
            </div>

        </div>

    </div>

    <br />

    <div class="form-group">

        <input id="BotaoCadastrar" type="submit" value="Cadastrar" class="btn btn-primary" />

    </div>

</form>


@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script src="~/js/InputMasked.js"></script>
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

    <script>
        $(document).cache(function () {
            $('#buscarProduto').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>

  @*Verificação se E-mail ja esta cadatrado*@
    <script>
        $(function() {
            $('#Email').blur(function() {
                var email = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificarEmailExistente", "Cliente")',
                    type: 'POST',
                    data: { Email: email },
                    success: function(result) {
                        if (result == false) {
                            $('#cleave-verificacaoEmail').hide();
                            AtivarBotaoCadastrar();
                                @* document.getElementById("BotaoCadastrar").disabled = false; *@
                        } else {
                            $('#cleave-verificacaoEmail').show();
                                document.getElementById("BotaoCadastrar").disabled = true;
                        }
                    }
                });
            });
        });
    </script>


    <script>

        @*Formatação de campo de CPF*@
        if (document.querySelector("#CPF")) {
            var cleave = new Cleave("#CPF", {
                delimiters: [".", ".", "-"],
                blocks: [3, 3, 3, 2],
                numericOnly: true,
            });
        }

        @*Verificação se CPF ja esta cadatrado*@
        $(function() {
            $('#CPF').blur(function() {
                console.log("Este aqui")
                var cpf = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificarCPFExistente", "Cliente")',
                    type: 'POST',
                    data: { CPF: cpf },
                    success: function(result) {
                        if (result == false) {
                            $('#cleave-verificacaoCPF').hide();
                            AtivarBotaoCadastrar();
                              @* document.getElementById("BotaoCadastrar").disabled = false; *@
                        } else {
                            $('#cleave-verificacaoCPF').show();
                              document.getElementById("BotaoCadastrar").disabled = true;
                        }
                    }
                });
            });
        });
    </script>


    <script>

        @*Formatação de campo de RG*@
        if (document.querySelector("#RG")) {
            var cleave = new Cleave("#RG", {
                delimiters: [".", ".", "-"],
                blocks: [2, 3, 3, 1],
                numericOnly: true,
            });
        }

      @*Verificação se RG ja esta cadatrado*@
        $(function() {
            $('#RG').blur(function() {
                var rg = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificarRGExistente", "Cliente")',
                    type: 'POST',
                    data: { RG: rg },
                    success: function(result) {
                        if (result == false) {
                            $('#cleave-verificacaoRG').hide();
                            AtivarBotaoCadastrar();
                              @* document.getElementById("BotaoCadastrar").disabled = false; *@
                        } else {
                            $('#cleave-verificacaoRG').show();
                              document.getElementById("BotaoCadastrar").disabled = true;
                        }
                    }
                });
            });
        });
    </script>

    @*Voltar a tela inicial*@
    <script>
        function VoltarAoInicio(){
            $.ajax({
                success: function(){
                    window.location.href = "/Home/Index";
                },
                error: function (xhr, status, error) {
                    console.log("Ocorreu um erro durante a requisição AJAX: " + error);
                }
            });
        }
    </script>

    <script>
        function AtivarBotaoCadastrar(){
            var spanSenha = document.getElementById("cleave-confirmarSenha1");
            var spanEmail = document.getElementById("cleave-verificacaoEmail");
            var spanRG = document.getElementById("cleave-verificacaoRG");
            var spanCPF = document.getElementById("cleave-verificacaoCPF");

               if (spanSenha.style.display === "none" && 
                  spanEmail.style.display === "none" && 
                  spanRG.style.display === "none" && 
                  spanCPF.style.display === "none") {
                  document.getElementById("BotaoCadastrar").disabled = false;
                } 
            }
    </script>

    @*Verificação se as senhas informadas são iguais*@
    <script>
        $("#cleave-confirmarSenha").blur(function () {
            var senha = $("#cleave-senha").val();
            var confirmarSenha = $("#cleave-confirmarSenha").val();
            if (senha == confirmarSenha) {
                 $('#cleave-confirmarSenha1').hide();
                 AtivarBotaoCadastrar();
            } else {
                 $('#cleave-confirmarSenha1').show();
                 document.getElementById("BotaoCadastrar").disabled = true;
            }
        });
    </script>

    @*Setando Endereço com base no CEP*@
    <script>
        $(document).ready(function () {
            var cepInput = $("#cleave-cep1");
            $("#cleave-cep1").change(function () {
                var cep = cepInput.val();
                if (cep.length >= 9) {
                    $.ajax({
                        url: `/Cliente/GetCep/${cep}`,
                        method: "GET",
                        success: (data) => {
                            $("#cleave-estado").val(data.uf);
                            $("input[id='cleave-cidade']").val(data.localidade);
                            $("input[id='cleave-bairro']").val(data.bairro);
                            $("input[id='cleave-logradouro']").val(data.logradouro);
                            $("input[id='cleave-comlemento']").val(data.complemento);
                        },
                        error: (error) => {
                            console.error(error);
                        }
                    });
                    $("#cleave-cep2").addClass("d-none");
                } else {
                    $("#cleave-cep2").removeClass("d-none");
                }
            });
        });
    </script>
}

