@model SiteVendas.Models.ViewModel.CadastroClienteViewModel
@{
    ViewData["Title"] = "Login";
}

@section styles {
    <link href="~/css/Login/Login.css" rel="stylesheet" />
}

<h1>Login</h1>

<div class="row col-2">

    <a class="rd-nav-link btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
    
</div>

<br/>

    <div>
        <h4>Usuário</h4>

        <hr />

        <div class="card">

            <div class="card-body">

                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <label asp-for="cliente.cc_login" class="control-label">Login</label>
                        <input asp-for="cliente.cc_login" class="form-control" minlength="5" maxlength="20" />
                    </div>

                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <label asp-for="cliente.cc_senha" class="control-label">Senha</label>
                        <input asp-for="cliente.cc_senha" class="form-control" minlength="5" maxlength="20" id="cleave-senha" type="password" />
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-2">
                        <button type="submit" value="Entrar" class="btn btn-primary botaoEntrar" id="exibirView">Entrar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
  
